.ms-tree ul li .ms-tree-node-invisible {
    display: none;
}

.ms-tree li {
    list-style: none;
}

.ms-tree .collapsible {
    width: 11px;
    border: 1px solid;
    float: left;
    margin-top: 3px;
    height: 5px;
    margin-right: 7px;
}

.collapsible:before {
    content: '';
    border-top: 1px solid;
    width: 9px;
    margin: 0px 1px 0px 1px;
    display: block;
}

.collapsible:after {
    content: '';
    border-left: 1px solid;
    height: 7px;
    margin: -4px 1px 0px 5px;
    display: block;
}

.ms-tree .node-single {
    width: 11px;
    border: 1px solid;
    float: left;
    margin-top: 3px;
    height: 8px;
    margin-right: 7px;
}

.node-single:before {
    content: '';
    border-top: 1px solid;
    width: 7px;
    margin: 3px 2px 0px 2px;
    display: block;
}

.ms-tree .ms-tree-node-text {
    padding-left: 25px;
}

.ms-tree li div.node-single {
    padding-top: 0px;
}

.ms-tree li div.collapsible {
    padding-top: 4px;
}

.ms-tree ul, menu, dir {
    display: block;
    -webkit-padding-start: 20px;
}
